.calender-app {
  width: 60%;
  min-width: 90vmin;
  aspect-ratio: 3/2; /* width/height */
  background-color: #1e242d;
  padding: 3rem;
  border-radius: 3rem;
  border: 1rem solid #0f1319;
  display: flex;
  column-gap: 5rem;
  position: relative;
  transform-style: preserve-3d;
}

.calender-app::after {
  /*to give the 3d shadow*/
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  bottom: -12rem;
  left: 50%;
  transform: translate(-50%) rotateX(50deg);
  width: 90%;
  height: 16rem;
  border-radius: 20rem;
  filter: blur(4rem);
}
.calender {
  width: 40%;
}
.heading {
  font-family: "Bebas Neue", sans-serif;
  font-size: clamp(
    4rem,
    3.8cqi,
    7rem
  ); /*makes font reactive (minimum, acceptable, mamimum size)*/
  color: #fff;
  letter-spacing: 0.3rem;
  padding-left: 1.3rem;
}
.navigate-date {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin: 3.5rem 0;
}
.navigate-date h2 {
  font-size: clamp(1.5rem, 1.5cqi, 2.5rem);
  color: #bbb;
  padding-left: 1.3rem;
}
.buttons {
  display: flex;
  column-gap: 1rem;
  margin-left: auto;
}
.buttons i {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #2c3542;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #c97f1a;
  cursor: pointer;
}

.weekdays {
  width: 100%;
  display: flex;
  margin: 3rem 0;
}
.weekdays span {
  width: calc(100% / 7);
  font-size: clamp(1rem, 0.8cqi, 1.3rem);
  font-weight: bold;
  text-transform: uppercase;
  color: #78879e;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: center;
}

.days {
  display: flex;
  flex-wrap: wrap;
}
.days span {
  font-size: clamp(1.2rem, 0.8cqi, 1.6rem);
  width: calc(100% / 7);
  aspect-ratio: 1;
  color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
.current-day {
  background-color: orange;
  border-radius: 50%;
  box-shadow: 0 0 1.5rem 1rem rgba(239, 144, 17, 0.3);
}
.events {
  width: 60%;
  height: 100%;
  padding: 3rem 0;
}
